@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 0% 96%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 144.91 90% 32%;
    --primary-foreground: 75 10% 97.84%;
    --secondary: 240 0% 100%;
    --secondary-foreground: 150 95% 30%;
    --accent: 150 55% 95%;
    --accent-foreground: 155 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 0% 100%;
    --ring: 150 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 40% 4%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 230 25% 10%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 20% 6%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 20% 10%;
    --input: 217.2 32.6% 17.5%;
    --primary: 155 70% 35%;
    --primary-foreground: 80 10% 97.84%;
    --secondary: 200 50% 98%;
    --secondary-foreground: 155 85% 30%;
    --accent: 170 60% 10%;
    --accent-foreground: 155 60% 65%;
    --destructive: 5 90% 65%;
    --destructive-foreground: 0 100% 10%;
    --ring: 160 90% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
